<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %logger{36}\n%msg%n++++++++++++++++++++\n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="[ACCEPTOR]" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="[PROPOSER]" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="[APPLICATION]" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>